@model Dealership.App.Models.CarBrand.CreateCarBrandViewModel

<div asp-validation-summary="ModelOnly"></div>
<form asp-action="CreatePost" method="POST">
    <div class="form-group">
        <label for="BrandName">Brand Name</label>
        <input asp-for="CarBrandName" class="form-control col-4" id="BrandName" placeholder="Enter Car Brand name" />
        <span asp-validation-for="CarBrandName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
