@model Dealership.App.Models.CreateBrandViewModel

<form asp-action="UpdatePost" method="POST">
    <div class="form-group">
        <label for="BrandName">Brand Name</label>
        <input asp-for="CarBrandName" class="form-control col-4" id="BrandName" placeholder="Enter Car Brand name">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
