@model Dealership.App.Models.CarModel.CarModelViewModel

<form asp-action="DeletePost" method="POST">
    <div class="form-group">
        <input asp-for="@Model.CarModelId" hidden readonly />
        <label for="BrandName">Brand Name</label>
        <input disabled readonly class="form-control col-4" id="BrandName" placeholder="@Model.CarModelName">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
    <button asp-action="Index" asp-controller="CarModel" class="btn btn-warning">I changed my mind!</button>
</form>