@model Dealership.App.Models.Car.CarViewModel

<form asp-action="CreatePost" method="POST">
    <div class="form-group">
        <label for="BrandName">Brand</label>
        @Html.DropDownListFor(
           carBrand => carBrand.CarBrandId,
           new SelectList(Model.CarBrands, "CarBrandId", "CarBrandName"),
           "Select Car brand"
        )
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

