@model Dealership.App.Models.Car.CreateCarViewModel

<form asp-action="CreatePost" method="POST" enctype="multipart/form-data">
    <div class="btn-group">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose the car brand</label>
        @Html.DropDownListFor(
           carBrand => carBrand.CarBrandId,
           new SelectList(Model.CarBrands, "CarBrandId", "CarBrandName"),
           "Select Car brand",
           new { @class = "custom-select my-1 mr-sm-2", @id = "inlineFormCustomSelectPref" }
        )
        <span asp-validation-for="CarBrandId" class="text-danger"></span>
    </div>
<br>
<div class="btn-group">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose the car model</label>
    @Html.DropDownListFor(
       carBrand => carBrand.CarModelId,
       new SelectList(Model.CarModels, "CarModelId", "CarModelName"),
       "Select Car brand",
       new { @class = "custom-select my-1 mr-sm-2", @id = "inlineFormCustomSelectPref" }
    )
    <span asp-validation-for="CarModelId" class="text-danger"></span>
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
        <input asp-for="Image" class="custom-file-input" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
    <span asp-validation-for="Image" class="text-danger"></span>
</div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

